.sec{
  color: var(--secondary)
}

.pri{
  color: var(--primary);
}

.inverse-code{
  color: #FFEECF;
  font-family: 'Source Code Pro'
}

.pull-right-larger {
  float: right;
  width: 53%;
}

.pull-left-larger{
  float: left;
  width: 53%;
}


.pull-right-long {
  float: right;
  width: 70%;
}

.pull-left-narrow{
  float: left;
  width: 30%;
}

.center{
  text-align: "center";
  font-size: 35px;
  color: "EEFFCF";
}
